<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<title>LROB</title>

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		
		<!-- css -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/style.css" media="screen"/>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.js"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	<script src="assets/js/selectivizr.js"></script>
	    <![endif]-->
	</head>
	
	<body>
		<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-5 col-sm-4 header-logo">
					<br>
					<a href="index.html"> <h1 class="logo">LROB <span class="logo-head", style="color:white">ΣΦΕ</span></h1></a>
				</div>

				<div class="col-md-8 col-md-offset-1 col-xs-7">
					<nav class="navbar navbar-default">
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse navbar-def" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav navbar-right">
					        <li>
						<a href="#wrapper"><i class="fa fa-home"></i> LROB Home</a>
					</li>
					<li>
						<a href="#about"><i class="fa fa-bookmark"></i> Why LROB?</a>
					</li>
					<li>
						<a href="#portfolio"><i class="fa fa-bookmark"></i> LROB Works</a>
					</li>
					<!--<li>
						<a href="#services"><i class="fa fa-tasks"></i> Service</a>
					</li>
					<li>
						<a href="#blog"><i class="fa fa-wordpress"></i> Blog</a>
					</li>-->
					<li>
						<a href="#testimonials"><i class="fa fa-thumbs-up"></i> Testimonials</a>
					</li>
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header>

		<div id="wrapper">
			
			<div id="header" class="content-block">
				<!-- <section class="top clearfix">
					<div class="pull-left">
						<h1><a class="logo" href="index.html">Avada <span class="logo-head">Plus</span></a></h1>
					</div>
					<! <div class="pull-right">
						<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
					</div> -->
				</section>
				<section class="center">
					<div class="slogan">
						This Fraternity Will Be <span style="color:red">Different</span>.
					</div>
					<div class="secondary-slogan">
						We Vowed Upon Our Honor..
					</div>
				</section>
			</div><!-- header -->

			<!-- About us -->
        <div id="about" class="about-us">
            <div class="container about-sec">
                <header class="block-heading cleafix">
						<div class="title-page">
							<p class="main-header">WHY LROB?</p>
						    <p class="sub-header">Locator Resource Of Brotherhood.</p>
						</div>
					</header>
					<br>
					<br>
             <div class="divide50"></div>
                <div class="row">
                    <div class="text-center"> 
                    	<h1>LROB grew from a responsibility owed towards ΣΦΕ. It was brought to light with the intention of furthering our principles of Virtue, Diligence, and Brotherly Love. It is in our creed.</h1>
                    </div>
                    
                   <!-- <div class="col-md-4 text-center">
                        <div class="aboutus-item">
                            <i class="aboutus-icon fa fa-plane"></i>
                            <h4 class="aboutus-title">V</h4>
                            <p class="aboutus-desc">Virtue.</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="aboutus-item">
                            <i class="aboutus-icon fa fa-usd"></i>
                            <h4 class="aboutus-title">D</h4>
                            <p class="aboutus-desc">Diligence.</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="aboutus-item">
                            <i class="aboutus-icon fa fa-cutlery"></i>
                            <h4 class="aboutus-title">BL</h4>
                            <p class="aboutus-desc">Brotherly Love.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- /About us -->

			 <div class="content-block" id="portfolio">
				<div class="container portfolio-sec">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">View All</a>
						<div class="title-page">
							<p class="main-header">Our Latest Works </p>
						    <p class="sub-header">Take a look at recent LROB connections..</p>
					    </div>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ0gWp85HSQ9u1Tvg4qxFLmGUGEeBvhhl3DauYmY7altrDW3iCHwQ)">
									<span class="btn btn-o-white">Virginia</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/min_icons_thumb1-320x240.jpg)">
									<span class="btn btn-o-white">New York</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ0gWp85HSQ9u1Tvg4qxFLmGUGEeBvhhl3DauYmY7altrDW3iCHwQ)">
									<span class="btn btn-o-white">California</span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(#)">
									<span class="btn btn-o-white">Texas</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ0gWp85HSQ9u1Tvg4qxFLmGUGEeBvhhl3DauYmY7altrDW3iCHwQ)">
									<span class="btn btn-o-white">Tennessee</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/six_1-320x240.jpg)">
									<span class="btn btn-o-white">Florida</span>
								</a>
							</div>
						</div>
					</section>
				</div> 
		</div><!-- #portfolio -->
<!--
			<div class="content-block parallax" id="services">
				<div class="container services-sec">
					<div class="title-page">
						<p class="main-header">Our Services </p>
					    <p class="sub-header">A little about what we do</p>
					</div>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-send-o"></i>
									</div>
									<h2 class="service-head">Illustration</h2>
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-heart-o"></i>
									</div>	
									<h2 class="service-head">3D Modeling</h2>
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-camera-retro"></i>
									</div>	
									<h2 class="service-head">Photography</h2>
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								</div>
							</div>
						</div>
					</section>
				</div> 

			</div> <! #services -->

			<!--
			<div class="content-block" id="blog">
				<div class="container blog-sec">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">View All</a>
						<div class="title-page">
							<p class="main-header">From the Blog</p>
						    <p class="sub-header">Keep up with the latest happenings.</p>
						</div>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4 blog-post">
								<img src="assets/images/bike_water1-1000x600.jpg">
								<a href="#"><h2>Design Your Mind</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/mac_glasses1-1000x600.jpg">
								<a href="#"><h2>Winter Is Comming</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/road-1000x600.jpg">
								<a href="#"><h2>The Illustration</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #blog -->


			<div class="content-block parallax" id="parallax">
				<div class="container">
					<h3 class="call-action pull-left">LROB. It's just US.</h3>
					<a href="#" class="pull-right btn btn-o-white btn-lg">Get your free LROB today!</a>
				</div>
			</div><!-- #parallax -->

			<div class="content-block" id="testimonials">
				<div class="container testimonial-sec">

					<header class="block-heading cleafix">
						<div class="title-page  pull-left">
							<p class="main-header">Testimonials</p>
						    <p class="sub-header">What our brothers are saying..</p>
						</div>
					</header>
					
					<section class="block-body">
						<div class="row">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							  <!-- Indicators -->
							  <ol class="carousel-indicators">
							    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
							  </ol>


							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							      <div class="img-center">	
							      	<img class="img-circle circular-img" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ0gWp85HSQ9u1Tvg4qxFLmGUGEeBvhhl3DauYmY7altrDW3iCHwQ">
							      </div>	
							      <h3>Feels Great To Be A SigEp!
								  </h3>
							      
							    </div>
							    <div class="item">
							    	<div class="img-center">	
							      		<img class="img-circle circular-img" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ0gWp85HSQ9u1Tvg4qxFLmGUGEeBvhhl3DauYmY7altrDW3iCHwQ">
							      </div>
							       <h3>L O V E & Much More.
								  </h3>
							      
							    </div>
							    <div class="item">
							    	<div class="img-center">	
							    		<img class="img-circle circular-img" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ0gWp85HSQ9u1Tvg4qxFLmGUGEeBvhhl3DauYmY7altrDW3iCHwQ">
							      		<!--<img class="img-circle circular-img" src="assets/images/sigep_heart.jpg"> -->
							        </div>
							       <h3>Just connected with a new Brother!
								  </h3>
							      
							    </div>
							  </div>
							</div>
						</div>	
					</section>
				</div>
			</div><!-- /#testimonials -->

			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
							<div class="col-sm-4 blog-post">
								
								<h2 class="footer-block">Have a question ?</h2>
								<p>Be the reason we have the Brotherhood all others emulate. Become the LROB ambassidor in your chapter. If you have any questions, please feel free to reach out! Leave a message.</p>

								<p>This vision has always been to establish a medium by which to effect positive change on a national level. I have wanted to create a media channel that will serve to promote techniques toward personal empowerment. It is our responsibility to build upon the foundation that our fathers worked so hard to lay. <br><br> This is a challenge for brothers to reach out to one another until we have located every lost brother and reconnected.</p> 

								<p>LROB grew from a responsibility owed towards ΣΦΕ. It was brought to light with the intention of furthering our principles of Virtue, Diligence, and Brotherly Love. It is in our creed. May you always be reminded of your lifelong vow of friendship any time you glance at the LROB on your wrist. We have an obligation to understand what brotherhood means. This LROB Project is a reason for brothers to reach out to one another. That is what fraternity is about.. </p>
							</div>
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">Leave us a message..</h2>
								<form class="" role="form">
									<div class="form-group">
								    	<input type="text" class="form-control form-control-white" id="subject" placeholder="Your Name" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="exampleInputEmail2" placeholder="Enter email" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" placeholder="Write Something.." required></textarea>
								    </div>
								    <div class="form-group">
								    	<input type="submit" class="text-center btn btn-o-white" value="Say Hello">
								  	</div>
								</form>
							</div>
							<div class="col-sm-4 blog-post">
								
								<h2 class="footer-block">Contact Details</h2>
								<ul>
									<li class="address-sub"><i class="fa fa-map-marker"></i>Postal Address</li>
										<p>
											P.O. Box 17927 <br> Pembroke Pines<br> Florida 33029 <br> United States of America. 
										</p>
									<li class="address-sub"><i class="fa fa-phone"></i>Phone</li>
										<p>
											Mobile: 1.954.562.7316
										</p>
									<li class="address-sub"><i class="fa fa-envelope-o"></i>Email Address</li>
										<p>
											StevenOcampo@MAIL.USF.EDU<br>
											www.stevieismagic.com
										</p>


								</ul>
								<div class="social">
									<i class="fa fa-twitter"></i>
									<i class="fa fa-facebook"></i>
									<i class="fa fa-instagram"></i>
									<i class="fa fa-pinterest-p"></i>
									<i class="fa fa-google-plus"></i>
									<i class="fa fa-skype"></i>
								</div>
								
							</div>
						</div>
				</div>
			</div>
			<div class="content-block footer-bottom" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Copyright 2015 Sigma Phi Epsilon</div>
						<div class="col-xs-6 text-right">Created by <a href="#">stevieismagic</a></div>
					</div>
				</div>
			</div><!-- #footer -->

		</div><!--/#wrapper-->




		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		<script src="assets/js/script.js"></script>
		<script src="assets/js/smoothscroll.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($){

		  	$(window).scroll(function() {
		  		
		  		console.log("asdf");

				if ($(window).scrollTop() > 100 ){
		    
		 		$('.top-header').addClass('shows');
		    
		  		} else {
		    
		   	 	$('.top-header').removeClass('shows');
		    
		 		};   	
			});

		  });

		jQuery('.scroll').on('click', function(e){		
				e.preventDefault()
		    
		  jQuery('html, body').animate({
		      scrollTop : jQuery(this.hash).offset().top
		    }, 1500);
		});


		</script>


	</body>
</html>
